* {
  box-sizing: border-box;  
  font-family: 'Montserrat', sans-serif;
}
html,body{
	margin: 0px;
	padding: 0px;
}

.container{
    max-width: 100%;
    min-width: 320px;
    height: 100vh;
    background: url("img/Image1.png") center no-repeat;
    background-size: cover;
}

.wrap{
    display: flex;
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
}

.header{
  
    
}

.header_wrap{    
    margin-bottom: 100px;
    color: white;
    padding-top: 40px;
    display: flex;
    height: 100vh;
    flex-direction: column;
}

.header_logo_menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.main_menu{
    display: flex;
    flex-direction: row;
}

.main_menu div{
    font-family: 'Nunito:400', sans-serif;
    margin-left: 30px;
    font-size: 14px;
}

.main_menu div:hover{
    color: black;
}

.header_phrase{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.first_phrase{
    margin-top: 160px;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
}

.second_phrase{
    margin-top: 50px;
    font-family: 'Montserrat:700', sans-serif;
    font-size: 50px;
}

.header_button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 235px;
    height: 60px;
    margin-top: 80px;
    border: 2px solid;
    border-color: white;
    border-radius: 2px;
    font-family: 'Montserrat:700', sans-serif;
}

.header_button:hover{
    background-color: white;
    color: black;
}

.web_dev{
    display: flex;
    color: black;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 200px;
}

.text{
    width: 555px;
    font-size: 14px;
}

.H{
    font-size: 45px;
    display: flex;
    flex-direction: row;
}
.sptext{
    font-family: 'Montserrat:900', sans-serif;
    margin-left: 5px;
}

.vertical{
    display: flex;
    flex-direction: column;
    width: 400px;
}

.text2{
    font-family: 'Nunito:400', sans-serif;
    margin-left: 10px;
    font-size: 14px;
}

.H1{
    font-family: 'Nunito:800', sans-serif;
    font-size: 17px;
    margin-bottom: 18px;
}

.icon{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    margin-bottom: 55px;
}

.text_icon {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 145px;
}

.awesome{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.third_phrase{
    margin-top: 20px;
    margin-bottom: 50px;
    font-size: 16px;
}
