* {
  margin: 0;
  padding: 0;
  font-family: georgia;
}

body *{
  padding-left: 5px;
  padding-right: 5px;
}

body {
  
  margin-left: auto;
  margin-right: auto;
  width: 980px;
}
header{
    display: flex;
    align-items: flex-end;
    height: 70px;
    flex-shrink: 1;
    
}

.myheader {
    display: flex;
    align-content: flex-end;
    flex-direction: column;
    font-size: 14pt;
    flex-grow: 1;
    }

#logo{
        font-size: 30pt;
    }
    
.search {
    display: flex;
    height: 32px;
    }   

input{
    width: 215px;
    background-color: #353535;
    color: #999999;
    border: 0;
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 14pt;
    padding-left: 10px; 
    }
    
.searchbutton {
    width: 80px;
    border-radius: 8px;
    font-size: 14pt;
    margin-left: 5px;
    border: 0;
    background-color: #d54346;
    color: white;
    padding: 0;
    
}

nav {
    display: flex;
    background-color: white;
    height: 74px;
    margin-bottom: 50px;
    align-items: center;
    border-bottom: 1px solid;
    border-bottom-color: #e2e2e2;
}

nav a{
    transition: 1s;
    padding-right: 14px;
    font-size: 10pt;
    text-decoration: none;
    color: #999999;
}

nav a:hover{
    color: #d54346;
    font-size: 12pt;
}
.photo1{
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.photo11{
    position: absolute;
    width: 500px;
    height: 150px;
    background-color: #151515;
    color: white;
    left: 20px;
    bottom: 20px;
}

h1{
    margin-bottom: 24px;
    font-size: 12pt;
    color: #666666;
}

.photo11 p{
    margin: 8px;
    font-size: 10pt;
}

.blockarticle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid;
    border-bottom-color: #e2e2e2;
}

.article p{
    margin-bottom: 24px;
}

.read {
    height: 32px;
    border-radius: 8px;
    font-size: 10pt;
    margin-left: 5px;
    border: 0;
    background-color: #d54346;
    color: white;
    padding: 4px;
    margin-bottom: 50px;
}

.block {
    display: flex;    
    height: 600px;
    margin-top: 50px;
    border-bottom: 1px solid;
    border-bottom-color: #e2e2e2;
}

.articlecolumn {
    display: flex;
    flex-direction: column;
}

.article2 {
    display: flex;    
    margin-bottom: 30px;   
}

.redtext {
    color: #d54346;   
}

.articletext {
    color: #666666;
    font-size: 10pt;
    width: 360px;
}

.articlefree {
    color: #666666;
    font-size: 10pt;
}

.articlefree2 {
    margin-bottom: 48px;
}

.article3 {
    display: flex;
    margin-bottom: 30px;
    font-size: 10pt;
}

.article3 p{
    width: 200px;
}

.articlefree button{
    float: right;
}

footer{
    height: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 10pt;
    color: #666666;
}
