* {
  margin: 0;
  padding: 0;
}

.myheader {
    max-width: 100%;
    background-color: #B3FF80;
    height: 150px;
    
    }

    .myheader p {
        margin-left: auto;
        margin-right: auto;
        padding-top: 60px;
        max-width: 1170px;
        align-items: center;
        font-size: 32pt;
    } 
    
.myfold {
    max-width: 100%;
    background-color: #FFCCAA;
    height: 550px;
}

    .myfold p {
        margin-left: auto;
        margin-right: auto;
        padding-top: 250px;
        max-width: 1170px;
        align-items: center;
        font-size: 32pt;
    }

.conteiner {
    background-color: #FFAAAA;
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1170px;
    
}

.conteiner p {
    text-align: center;
    font-size: 32pt;
    padding: 20px;
}

.photo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px;
}

.blockphoto1{
    height: 350px;
    width: 360px;
    background-color: #808080;
}

.blockphoto1 p{
    padding-left: 20px;
    padding-top: 150px;
    font-size: 24pt;
}

.slayd{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    height: 400px;
    max-width: 1600px;
    background-color: #808080;
    padding: 15px;
}

.blockphoto2
 {
    height: 350px;
    width: 360px;
    background-color: #CCCCCC;
}

.blockphoto2 p{
    padding-left: 20px;
    padding-top: 150px;
    font-size: 24pt;
}

.blocktext{
    height: 300px;
    max-width: 100%;
    background-color: #FFB380;
}

.blocktext p{
    text-align: center;
    font-size: 24pt;
}

.myfooter{
    max-width: 100%;
    background-color: #00AA44;
    height: 400px;
    display: flex;
    font-size: 32pt;
    color: white;
}

.myfooter p{
    margin: auto;
}

